.App {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: var(--color-neutral-4);
  color: var(--color-neutral-1);
}

.ThemeToggle {
  align-self: flex-end;
  margin: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: var(--color-blue-1);
  color: var(--color-neutral-1);
  cursor: pointer;
}
